@font-face {
    font-family: "Chillax-Bold";
    src: url("Chillax-Bold.ttf") format("truetype");
}

.content {
    text-align: center;
}

.header {
    display: inline-block;
    text-align: center;
    padding: 40px;
}

h1 {
    font-family: "Chillax-Bold";
    font-weight: bolder;
    color: darkred;
}

h2 {
    font-weight: bolder;
    color: darkblue
}

.tab-parent {
    padding: 0 40px 0 40px;
}

#main-tab {
    height: 45px;
}

#main-tab>.tab {
    padding: 10px!important;
    font-weight: bold;
}

.tab-script {
    display: flex;
    flex-direction: row;
}

.left-div {
    flex-grow: 0.5;
    height: 640px
}

.right-div {
    flex-grow: 0.5;
    height: 640px
}

#script-input {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 40px 40px 5px 40px;
    padding: 20px;
}

.setting-panel {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 40px 40px 10px 40px;
    padding: 12px 20px 20px 10px;
    border: dashed #909090 thin;
    text-align: left;
}

.param-div {
    padding: 20px 20px 20px 0;
    display: none;
}

.param-div>div {
    display: inline-block;
}

.param-label {
    font-size: 14px;
    font-weight: bold;
    width: 220px;
    text-align: right;
}

.param-input {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
}

.param-type {
    font-size: 14px;
    text-align: left;
}

button {
    padding: 6px 30px 6px 30px;
    margin: 0 30px 0 30px;
    background-color: #303030;
    color: #FFFFFF;
    border-width: thin;
    border: linen;
    border-radius: 10px;
    font-size: 14px;
    height: 40px;
    width: 120px;
}

.plot-graph {
    height: 640px;
}

.alert {
    position: fixed;
    right: 40px;
    top: 120px;
    padding: 10px 16px 10px 16px;
    width: fit-content;
    border: none;
    border-radius: 0;
    font-size: 14px;
}

#record-div {
    display: inline-block;
    text-align: center;
    padding: 40px 0 20px 0;
}

#record-div th {
    text-align: center;
    background: black;
    color: white;
}

#record-div td {
    text-align: center;
}

.previous-next-container {
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.dash-table-container {
    border: solid 1px #909090
}